a.header__logo(href="/")
    img(src="/img/logo.svg" alt="")

.nav
    ul.nav__list
        li.nav__item.dropdown
            a(href="") Предложения
            .dropsection
                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Продукция на заказ
                    li.nav__dropitem
                        a(href="#") Светодиодный экран
                    li.nav__dropitem
                        a(href="#") Бегущая строка
                    li.nav__dropitem
                        a(href="#") Электронное табло
                    li.nav__dropitem
                        a(href="#") Медиаборт
                    li.nav__dropitem
                        a(href="#") Светодиодный  шар
                    li.nav__dropitem
                        a(href="#") Видеокуб
                    li.nav__dropitem
                        a(href="#") Рекламный медиабаннер
                    li.nav__dropitem
                        a(href="#") Медиафасад

                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Готовые решения
                    li.nav__dropitem
                        a(href="#") Экраны для ТЦ и БЦ
                    li.nav__dropitem
                        a(href="#") Экраны для спортивных мероприятий
                    li.nav__dropitem
                        a(href="#") Экраны для конференций
                    li.nav__dropitem
                        a(href="#") Рекламные уличные экраны

                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Услуги
                    li.nav__dropitem
                        a(href="#") Аренда под ключ
                    li.nav__dropitem
                        a(href="#") Монтаж светодиодных экранов
                    li.nav__dropitem
                        a(href="#") Проектирование
        li.nav__item
            a(href="") Наши работы
        li.nav__item
            a(href="") Оплата и доставка
        li.nav__item
            a(href="") База знаний
        li.nav__item
            a(href="") О нас
        li.nav__item
            a(href="") Контакты
        li.nav__item.nav__item_icon
            .icon.icon_calc
                img(src="/img/i-calc-signs.svg" alt="")
            a(href="") Калькулятор
        li.nav__item.nav__item_icon
            .icon.icon_mail
                img(src="/img/i-mail.svg" alt="")
            a(href="") Оформить заявку

.nav-toggler#navToggler
    span

.header__btns-group
    .btn.btn_ghost
        .icon-pic
            svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M1 3.1H5.2M3.1 5.2V1M10.8 3.1H15M11.5 15H15M11.5 11.5H15M1 11.5L4.5 15M1 15L4.5 11.5" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        span Калькулятор
    .btn.btn_calltoaction Оформить заявку

span#navLine