.footer__phone#footerPhone
    a(href="tel:84999388779") +7 499 938 87 79

.nav
    ul.nav__list
        li.section-1
            ul
                li.nav__item
                    a(href="") О компании
                li.nav__item
                    a(href="") Контакты
                li.nav__item
                    a(href="") Калькулятор

        li.section-2
            ul
                li.nav__item
                    a(href="") Портфолио
                li.nav__item
                    a(href="") База знаний
                li.nav__item
                    a(href="") Прошивки

        li.section-3
            ul
                li.nav__item
                    a(href="") Сертификаты
                li.nav__item
                    a(href="") Оплата
                li.nav__item
                    a(href="") Гарантии

        li.section-4
            ul
                li.nav__item
                    a(href="") Продукция на заказ
                li.nav__item
                    a(href="") Готовые решения
                li.nav__item
                    a(href="") Услуги

a.footer__logo(href="/")
    img(src="/img/logo.svg" alt="")

.footer__socials#footerSocials
    .footer__socials-wrap
        a(href="").social-icon
            .social-icon__pic
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M16.504 2.25H7.5C4.60079 2.25 2.25 4.60079 2.25 7.5V16.504C2.25 19.4012 4.59879 21.75 7.496 21.75H16.504C19.4011 21.75 21.75 19.4013 21.75 16.505V7.496C21.75 4.59879 19.4012 2.25 16.504 2.25Z" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M11 12.5H16" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M16 8H15.2125C13.9908 8 13 9.22675 13 10.7393V11.7143V21" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

        a(href="").social-icon
            .social-icon__pic
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M16.505 2.25H7.496C4.59768 2.25 2.25 4.59889 2.25 7.496V16.504C2.25 19.4023 4.59889 21.75 7.496 21.75H16.504C19.4022 21.75 21.75 19.4012 21.75 16.505V7.496C21.75 4.59779 19.4012 2.25 16.505 2.25Z" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M16.4995 7.1625C16.3135 7.1635 16.1625 7.3145 16.1625 7.5005C16.1625 7.6865 16.3145 7.8375 16.5005 7.8375C16.6865 7.8375 16.8375 7.6865 16.8375 7.5005C16.8385 7.3135 16.6865 7.1625 16.4995 7.1625" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M14.1213 9.87868C15.2929 11.0503 15.2929 12.9497 14.1213 14.1213C12.9497 15.2929 11.0503 15.2929 9.87868 14.1213C8.70711 12.9497 8.70711 11.0503 9.87868 9.87868C11.0503 8.70711 12.9497 8.70711 14.1213 9.87868" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

        a(href="").social-icon
            .social-icon__pic
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M10 15L15 12L10 9V15Z" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M16.504 2.25H7.5C4.60079 2.25 2.25 4.60079 2.25 7.5V16.504C2.25 19.4012 4.59879 21.75 7.496 21.75H16.504C19.4011 21.75 21.75 19.4013 21.75 16.505V7.496C21.75 4.59879 19.4012 2.25 16.504 2.25Z" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

        a(href="").social-icon
            .social-icon__pic
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M16.504 2.25H7.5C4.60079 2.25 2.25 4.60079 2.25 7.5V16.504C2.25 19.4012 4.59879 21.75 7.496 21.75H16.504C19.4011 21.75 21.75 19.4013 21.75 16.505V7.496C21.75 4.59879 19.4012 2.25 16.504 2.25Z" stroke="#AB78FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path#vk(d="M18.679 8.54176C18.7768 8.22921 18.679 8 18.2165 8H16.6843C16.2945 8 16.1163 8.19829 16.0185 8.41606C16.0185 8.41606 15.2395 10.2437 14.1356 11.4287C13.7793 11.7735 13.6165 11.8824 13.4223 11.8824C13.3252 11.8824 13.1841 11.7735 13.1841 11.4609V8.54176C13.1841 8.16669 13.0716 8 12.7467 8H10.3391C10.096 8 9.94929 8.17342 9.94929 8.33877C9.94929 8.69367 10.5012 8.77567 10.5578 9.77584V11.9456C10.5578 12.4208 10.4691 12.5075 10.2735 12.5075C9.75436 12.5075 8.49119 10.6732 7.74153 8.57335C7.59551 8.16535 7.44809 8.00067 7.05685 8.00067H5.52539C5.08733 8.00067 5 8.19896 5 8.41674C5 8.80793 5.5191 10.7437 7.41805 13.304C8.68402 15.0523 10.4663 16 12.09 16C13.0632 16 13.1834 15.7896 13.1834 15.4267V14.1052C13.1834 13.6844 13.2763 13.5997 13.5844 13.5997C13.8108 13.5997 14.2006 13.71 15.1096 14.5522C16.1478 15.551 16.3196 15.9993 16.903 15.9993H18.4345C18.8718 15.9993 19.0905 15.7889 18.9648 15.3735C18.8271 14.9602 18.3311 14.3586 17.6729 13.6468C17.3152 13.2408 16.7808 12.8039 16.618 12.5854C16.3909 12.3038 16.4566 12.1795 16.618 11.9294C16.6187 11.9301 18.4848 9.40145 18.679 8.54176Z" fill="#AB78FF")

.footer__policy
    a(href="#") Политика конфиденциальности

.footer__copy
    span.copy &#169; 2019-2020 ООО “Экраника”
    span.caption Любое использование, либо копирование материалов или подборки материалов сайта, элементов дизайна и оформления может осуществляться лишь с разрешения автора