@import "../../../scss/variables";

.section_banner {
    .container {
        width: 100vw;
        position: relative;

        @media (min-width: $lg) {
            width: calc(90% + 100px);
            min-width: 1828px;
        }
    }
}

.banner {

    &__item {
        // padding: 30px 24px 0;
        padding: 30px 7.5% 0;

        @media (min-width: $md) {
            // padding: 24px 48px 0;
            padding: 24px 6.25% 0;
        }

        @media (min-width: $lg) {
            // одна карточка по ширине блока
            // боковые и нижний отступы по 50px для того чтобы не срезались тени,
            // заложены в размер конетйнера .container : ширира + 100px (два по 50px)
            padding: 96px 50px 50px;
            display: flex;
        }
    }

    &__picture {
        width: 100%;
        height: 176px;
        border-radius: 12px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 79px;
        box-shadow: -14px -14px 30px rgba(35, 33, 58, 0.35),
        16px 5px 40px rgba(4, 5, 14, 0.6);

        @media (min-width: $md) {
            width: 672px;
            height: 378px;
            margin-bottom: 34px;
        }

        @media (min-width: $lg) {
            //width: 816px;
            width: 42.5vw;
            height: 620px;
            margin-bottom: 0;
            box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.15),
            14px 28px 30px rgba(4, 5, 14, 0.3),
            -6px -6px 30px rgba(35, 33, 58, 0.15),
            6px 6px 30px rgba(0, 2, 12, 0.3);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: relative;

        @media (min-width: $lg) {
            padding-left: 5.555555555555556%;
        }
    }

    .slide-nums {
        position: absolute;
        top: 223px;
        left: 7.5%;
        margin-left: -15px;
        z-index: 1;

        @media (min-width: $md) {
            top: 508px;
            left: 6.25%;
        }

        @media (min-width: $lg) {
            top: 354px;
            left: auto;
            right: 250px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: $color-text-primary;

        @media (min-width: $md) {
            font-size: 40px;
            line-height: 140%;
            order: 1;
            margin-bottom: 63px;
        }

        @media (min-width: $lg) {
            font-size: 60px;
            margin-bottom: 134px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 12px;
        color: $color-text-secondary;

        @media (min-width: $md) {
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            width: 280px;
            order: 3;

        }

        @media (min-width: $lg) {
            font-size: 30px;
            line-height: 140%;
            color: #BDBDBD;
            width: 400px;
            margin-bottom: 48px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        @media (min-width: $md) {
            flex-direction: row;
            flex-wrap: wrap;
            order: 4;
        }

        @media (min-width: $lg) {
            flex-direction: column;
            width: 474px;
        }

        p {
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: $color-text-inactive;

            @media (min-width: $md) {
                width: 50%;
            }

            @media (min-width: $lg) {
                width: 100%;
                font-weight: normal;
                font-size: 14px;
                color: #636363;
            }
        }
    }

    &__actions {
        margin-top: 34px;

        @media (min-width: $md) {
            order: 5;
        }

        @media (min-width: $lg) {
            display: flex;
            align-items: center;
            width: 550px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .btn {
            @media (min-width: $lg) {
                order: 2;
            }
        }

        .link {
            display: inline-block;
            margin-top: 24px;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;

            @media (min-width: $md) {
                margin-top: 0;
                margin-left: 24px;
            }

            @media (min-width: $lg) {
                font-size: 18px;
                margin-left: 0;
                margin-right: 48px;
                order: 1;
            }
        }
    }


    #btnBannerProjectsPrev,
    #btnBannerProjectsNext {
        left: auto;
        margin-top: -53px;
        z-index: 1;
    }

    #btnBannerProjectsPrev {
        right: 149px;
    }

    #btnBannerProjectsNext {
        right: 48px;
    }
}