@import "../../../scss/variables";

.banner {

    &__item {
        padding-top: 16px;

        @media (min-width: $md) {
            padding-top: 24px;
        }

        @media (min-width: $lg) {
            padding-top: 102px;
        }
    }

    &__picture {
        width: 272px;
        height: 176px;
        background: $color-back-primary;
        border-radius: 12px;
        box-shadow: -14px -14px 30px rgba(35, 33, 58, 0.35),
        16px 5px 40px rgba(4, 5, 14, 0.6);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        @media (min-width: $md) {
            width: 672px;
            height: 378px;
        }

        @media (min-width: $lg) {
            width: 816px;
            height: 620px;
            float: right;
            box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.15),
            14px 28px 30px rgba(4, 5, 14, 0.3),
            -6px -6px 30px rgba(35, 33, 58, 0.15),
            6px 6px 30px rgba(0, 2, 12, 0.3);
        }
    }

    .slide-nums {
        margin-top: 24px;
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-primary;

        @media (min-width: $md) {
            font-size: 40px;
            line-height: 140%;
        }

        @media (min-width: $lg) {
            font-size: 60px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;

        @media (min-width: $md) {
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            width: 280px;
        }

        @media (min-width: $lg) {
            font-size: 30px;
            line-height: 140%;
            color: #BDBDBD;
            width: 400px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: $md) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (min-width: $lg) {
            flex-direction: column;
            width: 474px;
        }

        p {
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: $color-text-inactive;

            @media (min-width: $md) {
                width: 50%;
            }

            @media (min-width: $lg) {
                width: 100%;
                font-weight: normal;
                font-size: 14px;
                color: #636363;
            }
        }
    }

    &__actions {
        .link {
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;

            @media (min-width: $md) {
            }

            @media (min-width: $lg) {
                font-size: 18px;
            }
        }
    }
}