section.section.section_banner
    .banner#indexsBanner
        .banner__item
            .container
                .row
                    .col-sm-4.col-md-6.col-lg-3.img
                        .banner__picture(style="background-image: url('/img/temp/temp-img.png');")
                    .col-sm-4.col-md-6.col-lg-3.desc
                        .slide-nums
                            .slide-nums__wrap
                                .slide-nums__number
                                    span.active 04
                                    span.passive 04
                                .slide-nums__number.active
                                    span.active 01
                                    span.passive 01
                                .slide-nums__number.passive
                                    span.active 02
                                    span.passive 02
                                .slide-nums__number
                                    span.active 03
                                    span.passive 03
                                .slide-nums__number
                                    span.active 04
                                    span.passive 04
                                .slide-nums__number
                                    span.active 01
                                    span.passive 01

                        h2.banner__title Экран в аренду
                        .banner__subtitle Идеально для мероприятий
                        .banner__content
                            p Предоставляем в аренду интерьерные и уличные экраны.
                            p
                                | Срок аренды — от 1 дня до нескольких месяцев.
                                br
                                | Инженеры настраивают оборудование под задачи и помогают отладить эксплуатацию.
                        .banner__actions
                            a.btn.btn_primary Рассчитать стоимость
                            a.link.revers(href="") Отправить заявку на расчёт





//section.section.section_slider
//    .slider__background
//
//    .slider__nums
//        .slider__nums-wrap
//            .slider__nums-number 04
//            .slider__nums-number.active 01
//            .slider__nums-number.passive 02
//            .slider__nums-number 03
//            .slider__nums-number 04
//            .slider__nums-number 01
//
//
//    .slider#indexsSlider
//        // Если слайд один, менять инлайновый padding на padding: 79px 0 0; 97px
//        .slider__item
//            .container
//                .row
//                    .col-sm-4.col-md-2.col-lg-3.img
//                        .slider__picture
//                            canvas#cMob.slider__animation
//                            canvas#cTab.slider__animation
//                            canvas#cDesk.slider__animation
//                    .col-sm-4.col-md-4.col-lg-3.desc
//                        h2.slider__title.section__title Погрузись в мир LED экранов
//                        .slider__subtitle Аренда под ключ 5000 р/м2
//                        .slider__actions
//                            a.btn.btn_primary Узнать стоимость
//                            a.link.revers(href="") Как выбрать экран?
//
//        .slider__item
//            .container
//                .row
//                    .col-sm-4.col-md-2.col-lg-3.img
//                        .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+2')")
//                    .col-sm-4.col-md-4.col-lg-3.desc
//                        h2.slider__title.section__title Светодиодные экраны в рассрочку
//                        .slider__actions
//                            a.btn.btn_primary Рассчитать стоимость
//                            a.link.revers(href="") Как выбрать экран?
//
//        .slider__item
//            .container
//                .row
//                    .col-sm-4.col-md-2.col-lg-3.img
//                        .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+3')")
//                    .col-sm-4.col-md-4.col-lg-3.desc
//                        h2.slider__title.section__title Погрузись в мир LED экранов
//                        .slider__subtitle Аренда под ключ 5000 р/м2
//                        .slider__actions
//                            a.btn.btn_primary Узнать стоимость
//                            a.link.revers(href="") Как выбрать экран?
//
//        .slider__item
//            .container
//                .row
//                    .col-sm-4.col-md-2.col-lg-3.img
//                        .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+4')")
//                    .col-sm-4.col-md-4.col-lg-3.desc
//                        h2.slider__title.section__title Погрузись в мир LED экранов
//                        .slider__subtitle Аренда под ключ 5000 р/м2
//                        .slider__actions
//                            a.btn.btn_primary Узнать стоимость
//                            a.link.revers(href="") Как выбрать экран?