section.section.section_typical-solutions
    .typical-solutions

        .container
            h2.section__title.animation-element
                span.title Готовые кабинеты

        .container
            .typical-solutions__controlls
                .typical-solutions__controller
                    .typical-solutions__help.help-button(data-help-modal-id="#helpModalTypicalSolutions")
                        include ../../../img/icon-help.svg
                        include ../../comps/help-modal/help-modal-typical-solutions

                    .typical-solutions__controll-caption Тип исполнения
                    .typical-solutions__content
                        .radio





        .container-endless
            .endless.typical-solutions__list.swiper-container#typicalSolutionsSlider
                .typical-solutions__list__wrap.swiper-wrapper

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide
                        .typical-solutions__card.animation-element
                            .typical-solutions__galary
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_prev#btnTypicalSolutionsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_next#btnTypicalSolutionsNext
                include ../../../img/icon-slider-btn-arr.svg
