.installment-calc
    .installment-calc__wrap
        .installment-calc__controlls
            include ../custom-input/custom-input-cost
            include ../custom-selects/suffix-select-installment
            include ../custom-selects/suffix-select-first-payment
        .installment-calc__btn-calc
            input.btn.btn_primary.not-focused#calculateInstallment(type="submit" value="Рассчитать")

    .installment-calc__delimiter

    .installment-calc__result
        .installment-calc__total
            span.caption Итого к оплате —
            spna.number#calcResultTotal

        .installment-calc__overpayment#calcResultOverPayment

        .installment-calc__firstpayment#calcResultFirstPayment

        .installment-calc__remainder Остаток можно погашать ежемесячно до трех лет.
