.label-controll
    .label-controll__caption Срок аренды
    .label-controll__body
        .label-controll__content

            .input-suffix.custom-input.input_w30#rentPeriodDays
                input(type="text" data-calc-property="rentPeriodDays" data-calc-value="")
                .input-suffix__delimiter
                .input-suffix__units дни