@import "../../../scss/variables";

.offer {
    &__list {
        width: 108.108108108108108%;
        margin-left: -8.108108108108108%;
        padding-left: 8.108108108108108%;
        margin-top: 31px;
        @media (min-width: $md) {
            width: 106.666666666666667%;
            margin-left: -6.666666666666667%;
            padding-left: 6.666666666666667%;
            margin-top: 68px;
        }

        @media (min-width: $lg) {
            width: calc(100% + 40px);
            margin-left: -40px;
            padding-left: 40px;
            margin-top: 133px;
        }
    }

    &__item {
        width: 216px;
        min-height: 352px;
        padding-top: 35px;
        padding-bottom: 38px;
        float: left;

        @media (min-width: $md) {
            width: 406px;
            min-height: 542px;
        }

        @media (min-width: $lg) {
            width: 480px;
            min-height: 648px;
            padding-top: 89px;
        }
    }

    &__card {
        width: 200px;
        min-height: 336px;
        border-radius: 12px;
        background: $color-back-primary;
        box-shadow:
                -14px -14px 30px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);
        padding: 0 16px;

        @media (min-width: $md) {
            width: 358px;
            height: 508px;
            padding: 0 48px 0 34px;
        }

        @media (min-width: $lg) {
            width: 384px;
            height: 559px;
            padding: 0 54px 0 42px;
        }
    }

    &__pic {
        height: 168px;
        width: 168px;
        border-radius: 12px;
        transform: translateY(-16px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (min-width: $md) {
            height: 308px;
            width: 290px;
            transform: translateY(-34px);
        }

        @media (min-width: $lg) {
            width: 300px;
            height: 364px;
            transform: translateY(-89px);
        }
    }

    &__caption {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
        color: $color-text-secondary;
        margin-top: 8px;

        @media (min-width: $md) {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-top: 0;
        }

        @media (min-width: $lg) {
            font-size: 30px;
            line-height: 1.4;
            margin-top: -39px;
            padding-left: 12px;
        }
    }

    &__content {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        color: $color-text-inactive;
        margin-top: 8px;

        @media (min-width: $md) {
            font-size: 14px;
            margin-top: 18px;
        }

        @media (min-width: $lg) {
            margin-top: 14px;
            padding-left: 12px;
        }
    }
}

#btnOfferSliderPrev,
#btnOfferSliderNext {
    position: absolute;
    left: -190px;
    top: 50%;
    width: 68px;
    height: 68px;
    display: none !important;
    z-index: 10;

    @media (min-width: $lg) {
        display: flex !important;
    }

    &:focus {
        box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);
    }

    &[aria-disabled="true"] {
        cursor: default;
        box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);

        &::before {
            border-right-color: #202231;
            border-bottom-color: #202231;
        }

    }

    &::before {
        content: "";
        display: block;
        width: 19px;
        height: 19px;
        top: 1px;
        border-right: 2px solid #80758F;
        border-bottom: 2px solid #80758F;
        transition: $transition;
        position: relative;
    }
}

#btnOfferSliderPrev {
    margin-top: -6px;

    &::before {
        transform: rotate(135deg);
        left: 3px;
    }
}

#btnOfferSliderNext {
    margin-top: -108px;

    &::before {
        transform: rotate(-45deg);
        left: -6px;
    }
}