section.section.section_offer
    .offer
        .container
            h2.section__title
                | Мы предлагаем
                span.section__link
                    a.revers(href="") Выбрать готовые кабинеты

        .container-endless
            .endless.offer__list.swiper-container#offerSlider
                .offer__list__wrap.swiper-wrapper

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                            .offer__caption Светодиодный экран
                            .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                            .offer__caption Бегущая строка
                            .offer__content Один из самых популярных и доступных видов наружной рекламы

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                            .offer__caption Электронное табло
                            .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-62.jpg')")
                            .offer__caption Медиаборт
                            .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на стадионах

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                            .offer__caption Светодиодный экран
                            .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                            .offer__caption Бегущая строка
                            .offer__content Один из самых популярных и доступных видов наружной рекламы

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                            .offer__caption Электронное табло
                            .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                    .offer__item.swiper-slide
                        .offer__card
                            .offer__pic(style="background-image: url('/img/temp/rectangle-62.jpg')")
                            .offer__caption Медиаборт
                            .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на стадионах

            .btn.btn_icon-outlined.not-focused#btnOfferSliderPrev
            .btn.btn_icon-outlined.not-focused#btnOfferSliderNext
