section.section.section_offer
    .offer
        .container
            .row
                .col-sm-4.col-md-6.col-lg-6
                    h2.section__title
                        | Мы предлагаем
                        span.section__link
                            a.revers(href="") Выбрать готовые кабинеты

                .col-sm-4.col-md-6.col-lg-6
                    .offer__list#offerList
                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                                .offer__caption Светодиодный экран
                                .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                                .offer__caption Бегущая строка
                                .offer__content Один из самых популярных и доступных видов наружной рекламы

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                                .offer__caption Электронное табло
                                .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-62.jpg')")
                                .offer__caption Медиаборт
                                .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на стадионах

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                                .offer__caption Светодиодный экран
                                .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                                .offer__caption Бегущая строка
                                .offer__content Один из самых популярных и доступных видов наружной рекламы

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                                .offer__caption Электронное табло
                                .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                        .offer__item
                            .offer__card
                                .offer__pic(style="background-image: url('/img/temp/rectangle-62.jpg')")
                                .offer__caption Медиаборт
                                .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на стадионах