@import "../../../scss/variables";

.page-rent {
    main {
        padding-top: 0;
    }

    .section_banner {
        margin-top: 0;
        margin-bottom: 0;
    }

    .section_list {
        @media (min-width: $lg){
            margin-top: 216px;
        }
    }

    .section_types {

        @media (min-width: $md) {
            margin-top: -38px;
        }

        @media (min-width: $lg) {
            margin-top: -68px;
        }

        .endless {
            @media (min-width: $lg) {
                width: calc(100% + 40px);
                margin-left: -30px;
                padding-left: 30px;
            }
        }
    }

    .list {
        &__background {
            display: none;
        }

        &__title {
            @media (min-width: $md) {
                max-width: 270px;
            }

            @media (min-width: $lg) {
                max-width: none;
            }
        }

        &__slide {
            @media (min-width: $lg) {
                margin-bottom: 68px;
            }
        }
    }

    .work {
        @media (min-width: $lg) {
            margin-bottom: -28px;
        }

        .work__slide {
            @media (min-width: $lg) {
                margin-bottom: 64px;
            }
        }
    }

    .projects {
        .section__title {
            @media (min-width: $md) {
                width: 400px;
            }

            @media (min-width: $lg) {
                width: auto;
            }
        }

        .section__link {
            display: none;

            @media (min-width: $md) {
                display: block;
            }

            @media (min-width: $lg) {
                display: none;
            }
        }

        &__list {
            //margin-top: -16px;
            //
            ////@media (min-width: $md) {
            ////    margin-top: 21px;
            ////}
            //
            //@media (min-width: $lg) {
            //    margin-top: 83px;
            //}
        }
    }
}