section.section.section_projects
    .projects
        .container
            .row
                .col-sm-4.col-md-6.col-lg-6
                    h2.section__title
                        | Реализованные проекты
                        span.section__link
                            a.revers(href="") Смотреть портфолио

                .col-sm-4.col-md-6.col-lg-6.projects__list__wrap
                    .projects__list#projectsList
                        .projects__item
                            .projects__card
                                .projects__place
                                    .city г. Москва
                                    .location Конференц-зал
                                .projects__params
                                    .screen
                                        | Экран 13,11 м
                                        sup 2
                                    .pixels Шаг пикселя 2,5 мм
                                .projects__pic(style="background-image: url('/img/temp/projecs.jpg')")

                        .projects__item
                            .projects__card
                                .projects__place
                                    .city г. Рязань
                                    .location Офисный центр
                                .projects__params
                                    .screen
                                        | Экран 13,11 м
                                        sup 2
                                    .pixels Шаг пикселя 2,5 мм
                                .projects__pic(style="background-image: url('/img/temp/projecs.jpg')")


                        .projects__item
                            .projects__card
                                .projects__place
                                    .city г. Москва
                                    .location Конференц-зал
                                .projects__params
                                    .screen
                                        | Экран 13,11 м
                                        sup 2
                                    .pixels Шаг пикселя 2,5 мм
                                .projects__pic(style="background-image: url('/img/temp/projecs.jpg')")


                        .projects__item
                            .projects__card
                                .projects__place
                                    .city г. Рязань
                                    .location Офисный центр
                                .projects__params
                                    .screen
                                        | Экран 13,11 м
                                        sup 2
                                    .pixels Шаг пикселя 2,5 мм
                                .projects__pic(style="background-image: url('/img/temp/projecs.jpg')")


                        .projects__item
                            .projects__card
                                .projects__place
                                    .city г. Москва
                                    .location Конференц-зал
                                .projects__params
                                    .screen
                                        | Экран 13,11 м
                                        sup 2
                                    .pixels Шаг пикселя 2,5 мм
                                .projects__pic(style="background-image: url('/img/temp/projecs.jpg')")

                        // В конце добалвляем пустой элемент для корректного отображения сайдера
                        .projects__item