section.section.section_partners-choose
    .partners-choose__background
    .partners-choose
        .container
            .row
                .col-sm-4.col-md-6.col-lg-6
                    h2.section__title Почему партнеры выбирают Экранику

        .container
            .row.partners-choose__list#partnersChoose
                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/1.svg" alt="" style="margin-top: -9px;")
                    .partners-choose__title Компания - производитель с собственным складом
                    .partners-choose__caption Ценовые предложения без посредников и торговых надбавок. Даем рассрочку без переплат для постоянных партнеров

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/2.svg" alt="")
                    .partners-choose__title Быстрая доставка по России и СНГ
                    .partners-choose__caption Доставляем по Москве и области ― в течение одного — двух дней. По России и СНГ ― отправляем комфортным перевозчиком, на выбор клиента

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/3.svg" alt="")
                    .partners-choose__title Гарантийное обслуживание 3 года
                    .partners-choose__caption Даем гарантию на все виды готовых изделий, кроме блоков питания. Сотрудничаем с зарекомендованными поставщиками из КНР. Наделены опытными и обученными на заводах — производителях специалистами. Получаем поддержку представителей компаний Qiangli и Novastar

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/4.svg" alt="")
                    .partners-choose__title Полный цикл работ и расширенная поддержка
                    .partners-choose__caption Разработаем проект, произведем монтаж, гарантийное и послегарантийное обслуживание. Предоставим персонального менеджера для оперативного решения комплексных вопросов по услугам сервисного центра и технической поддержки заводов — производителей

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/5.svg" alt="")
                    .partners-choose__title Круглосуточная техподдержка
                    .partners-choose__caption Возникли неполадки ― сразу набирайте наш номер телефона. Ответим на вопросы, вернем технику в строй за считанные часы, причем независимо от того, где она была куплена

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/6.svg" alt="")
                    .partners-choose__title 28 моделей готовых кабинета в сборе
                    .partners-choose__caption Благодаря такому решению, выполним заказ в срок от 4 дней. Отправим готовый экран с уже необходимыми клиенту размерами, конфигурацией и шагом пикселя

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
                    .partners-choose__num
                        span.back
                        span.number
                            img(src="/img/7.svg" alt="")
                    .partners-choose__title Аренда готовых медиаэкранов
                    .partners-choose__caption Удобное и экономически выгодное решение для оценки возможностей LED экрана на желаемой площадке перед его покупкой. Привезем, смонтируем, подключим, настроим и будем следить за работой техники до завершения ивента

                .partners-choose__item.col-sm-3.col-md-3.col-lg-3.lets-meet
                        span Давайте знакомиться
                        a.revers(href="") О компании

                // В конце добавляем пустой слайд
                .partners-choose__item.col-sm-3.col-md-3.col-lg-3
