.partners-choose {
    overflow-x: hidden;

    @media (min-width: $md) {
        padding-bottom: 140px;
        padding-top: 42px;
    }

    @media (min-width: $lg) {
        padding-bottom: 0;
        padding-top: 0;
    }

    &__background {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        background: url(/img/banner-back.svg) no-repeat center center;
        z-index: 0;
        transform: scale(-1, 1);
        top: 575px;
        height: 400px;
        background-size: 130%;
        background-position-x: 70%;

        @media (min-width: $md) {
            display: block;
        }

        @media (min-width: $lg) {
            background: url(/img/body-back-line.svg) no-repeat center center;
            top: 1690px;
            height: 571px;
            transform: scale(1, 1);
        }
    }

    &__list {
        margin-top: 48px;
        width: 448px;
        //width: 1120px;

        @media (min-width: $md) {
            width: 696px;
            //width: 1740px;
            margin-top: 68px;
        }

        @media (min-width: $lg) {
            margin-top: 134px;
            width: 1440px;
        }
    }

    &__item {
        padding-top: 72px;
        width: 224px;
        position: relative;
        padding-right: 24px;

        &:first-child .number img {
            margin-top: -9px;
        }

        @media (min-width: $md) {
            width: 348px;
        }

        @media (min-width: $lg) {
            width: 100%;
            padding-top: 0;
            padding-left: 144px;
            padding-right: 0;
            margin-bottom: 96px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 120px;
            height: 6px;
            top: 28px;
            right: 8px;
            background: $color-back-primary;
            box-shadow:
                    inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                    inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            border-radius: 12px;

            @media (min-width: $md) {
                display: none;
            }
        }
    }

    &__num {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: $lg) {
            width: 96px;
            height: 96px;
            margin-top: 4px;
        }

        .back {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;

            background: linear-gradient(321.49deg, #1C1D30 -6.41%, #0B0C12 90.97%);
            box-shadow:
                    -8px -6px 30px rgba(35, 33, 58, 0.8),
                    8px 8px 58px rgba(4, 5, 14, 0.76);
            filter: blur(6px);

            @media (min-width: $lg) {
                background: linear-gradient(321.49deg, #1C1D30 -6.41%, #0B0C12 90.97%);
                box-shadow:
                        -12px -10px 30px rgba(35, 33, 58, 0.8),
                        12px 12px 58px rgba(4, 5, 14, 0.76);
                filter: blur(8px);
            }
        }

        .number {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

            img {
                z-index: 1;
                margin-top: -4px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-bottom: 12px;


        @media (min-width: $md) {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 12px;
        }



        @media (min-width: $lg) {
            font-size: 30px;
            line-height: 1.4;
            margin-bottom: 24px;
        }
    }

    &__caption {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        color: $color-text-inactive;
        margin-top: 12px;

        @media (min-width: $lg) {
            font-size: 14px;
            margin-top: 24px;
        }
    }

    .lets-meet {

        &::before {
            display: none;
        }

        @media (min-width: $lg) {
            margin-top: -12px;
        }

        span {
            display: block;
            font-size: 24px;
            line-height: 1.3;
            letter-spacing: 0.02em;
            font-weight: 700;
            color: $color-text-secondary;
            margin-bottom: 12px;
            margin-top: 4px;

            @media (min-width: $md) {
                font-size: 30px;
                line-height: 1.4;
            }

            @media (min-width: $lg) {
                font-weight: 700;
                font-size: 60px;
                line-height: 1.4;

            }
        }

        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;

            &::after {
                content: '';
                display: inline-block;
                position: relative;
                margin-left: 8px;
                margin-bottom: 1px;
                width: 7px;
                height: 7px;
                border-right: 1px solid #AB78FF;
                border-bottom: 1px solid #AB78FF;
                transform: rotate(-45deg);
                transition: all 0.2s ease-in-out;
            }

            &:hover::after {
                border-right-color: $color-text-primary;
                border-bottom-color: $color-text-primary;
            }
        }
    }

    .slick-list {
        padding: 24px;
        margin-left: -24px;
        margin-top: -24px;
    }
}