.calc

    .container
        .calc__title-picture
            .image.active(data-calc-type-pic="#outsideScreen" style="background-image: url('/img/calc-location-outside.png');")
            .image(data-calc-type-pic="#insideScreen" style="background-image: url('/img/quiz-location-inside.png');")
            .image(data-calc-type-pic="#mediaFacade" style="background-image: url('/img/calc-media-facade.png');")
            .image(data-calc-type-pic="#rentScreen" style="background-image: url('/img/quiz-location-inside.png');")

    .container
        h2.calc__title
            span.title.animation-element Рассчитать стоимость конструкции
            span.step.animation-element шаг 1 из 2

    .container-endless-fix
        .endless
            .calc__tab-list.swiper-container#calcTabsSlider
                .calc__tab-list-wrap.swiper-wrapper
                    include calc-tab-list

    .calc__content
        include calc-outside-screen
        include calc-inside-screen
        include calc-media-facade-screen
        include calc-rent-screen