.calc__tab-list__slide.swiper-slide
    // При инициализации, добавить первому элемну класс .active
    .calc__tab-list__button.active(data-target-tab-id="#outsideScreen")
        | Уличный светодиодный экран

.calc__tab-list__slide.swiper-slide
    .calc__tab-list__button(data-target-tab-id="#insideScreen")
        | Внутренний светодиодный экран

.calc__tab-list__slide.swiper-slide
    .calc__tab-list__button(data-target-tab-id="#mediaFacade")
        | Медиафасад

.calc__tab-list__slide.swiper-slide
    .calc__tab-list__button(data-target-tab-id="#rentScreen")
        | Аренда
