// Добавлять класс custom-select всем кастомным селектам
.select-simple.custom-select
    .select-simple__selected-item.selected Медиафасад
    .select-simple__arr
    .custom-select__container
        .custom-select__list.scroller
            .custom-select__item.active Медиафасад
            .custom-select__item Бегущая строка
            .custom-select__item Строка 1
            .custom-select__item Строка 2
            .custom-select__item Строка 3
            .custom-select__item Строка 4
            .custom-select__item Строка 5
            .custom-select__item Строка 6
            .custom-select__item Строка 7