// Добавлять класс custom-select всем кастомным селектам
.select-suffix.custom-select
    .select-suffix__selected-item.selected 2,5
    .select-suffix__arr
    .select-suffix__delimiter
    .select-suffix__units мм
    .custom-select__container
        .custom-select__list.scroller
            .custom-select__item.active 2,5
            .custom-select__item 3,5
            .custom-select__item 4,5
            .custom-select__item 5,5
            .custom-select__item 6,5