// Добавлять класс custom-select всем кастомным селектам
.select-suffix.custom-select
    .select-suffix__selected-item.selected 3420
    .select-suffix__arr
    .select-suffix__delimiter
    .select-suffix__units мм
    .custom-select__container
        .custom-select__list.scroller
            .custom-select__item.active 3420
            .custom-select__item 1000
            .custom-select__item 2000
            .custom-select__item 3000
            .custom-select__item 4000