section.section.section_banner
    .banner__background

    .banner__nums
        .banner__nums-wrap
            .banner__nums-number 04
            .banner__nums-number.active 01
            .banner__nums-number.passive 02
            .banner__nums-number 03
            .banner__nums-number 04
            .banner__nums-number 01


    .banner#indexBanner
        // Если слайд один, менять инлайновый padding на padding: 79px 0 0; 97px
        .banner__item
            .container
                .row
                    .col-sm-4.col-md-2.col-lg-3.img
                        .banner__picture
                            canvas#cMob.banner__animation
                            canvas#cTab.banner__animation
                            canvas#cDesk.banner__animation
                    .col-sm-4.col-md-4.col-lg-3.desc
                        h2.banner__title.section__title Погрузись в мир LED экранов
                        .banner__subtitle Аренда под ключ 5000 р/м2
                        .banner__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?

        .banner__item
            .container
                .row
                    .col-sm-4.col-md-2.col-lg-3.img
                        .banner__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+2')")
                    .col-sm-4.col-md-4.col-lg-3.desc
                        h2.banner__title.section__title Светодиодные экраны в рассрочку
                        .banner__actions
                            a.btn.btn_primary Рассчитать стоимость
                            a.link.revers(href="") Как выбрать экран?

        .banner__item
            .container
                .row
                    .col-sm-4.col-md-2.col-lg-3.img
                        .banner__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+3')")
                    .col-sm-4.col-md-4.col-lg-3.desc
                        h2.banner__title.section__title Погрузись в мир LED экранов
                        .banner__subtitle Аренда под ключ 5000 р/м2
                        .banner__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?

        .banner__item
            .container
                .row
                    .col-sm-4.col-md-2.col-lg-3.img
                        .banner__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+4')")
                    .col-sm-4.col-md-4.col-lg-3.desc
                        h2.banner__title.section__title Погрузись в мир LED экранов
                        .banner__subtitle Аренда под ключ 5000 р/м2
                        .banner__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?