section.section.section_slider-banner
    .slider-banner__animation.visible#sliderAnimation
        canvas#cMob.slider-banner__canvas
        canvas#cTab.slider-banner__canvas
        canvas#cDesk.slider-banner__canvas

    .slider-banner__background
        .slider-banner__background-wrap
            img(src="/img/slider-curved-line.svg" alt="")

    .container
        .slider-banner.swiper-container
            .slider-banner__wrap.swiper-wrapper
                .slider-banner__slide.swiper-slide
                    .slider-banner__picture
                        // Картинку в первом слайде удалили, так как на первом слайде показыватеся анимация на главной
                    .slider-banner__description
                        h2.slider-banner__title.section__title(data-swiper-parallax-x="-500" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="600") Погрузись в мир LED экранов
                        .slider-banner__subtitle(data-swiper-parallax-x="-600" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Аренда под ключ 5000 р/м2
                        .slider-banner__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?

                .slider-banner__slide.swiper-slide
                    .slider-banner__picture
                        .image(style="background-image: url('/img/temp/temp-img.png')")
                    .slider-banner__description
                        h2.slider-banner__title.section__title(data-swiper-parallax-x="-500" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="600") Светодиодные экраны в рассрочку
                        .slider-banner__subtitle(data-swiper-parallax-x="-600" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Аренда под ключ 5000 р/м2
                        .slider-banner__actions
                            a.btn.btn_primary Рассчитать стоимость
                            a.link.revers(href="") Как выбрать экран?

                .slider-banner__slide.swiper-slide
                    .slider-banner__picture
                        .image(style="background-image: url('/img/temp/temp-img.png')")
                    .slider-banner__description
                        h2.slider-banner__title.section__title(data-swiper-parallax-x="-500" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="600") Погрузись в мир LED экранов
                        .slider-banner__subtitle(data-swiper-parallax-x="-600" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Аренда под ключ 5000 р/м2
                        .slider-banner__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?

        .slide-nums#sliderNums
            .slide-nums__current
                .slide-nums__scrolled
                    .slide-nums__number.active 01
                    .slide-nums__number 02
                    .slide-nums__number 03
            .slide-nums__all
                .number 03

        .btn.btn_icon-outlined.not-focused#btnSliderPrev
        .btn.btn_icon-outlined.not-focused#btnSliderNext




//.swiper-container
//
//    .swiper-wrapper
//        .swiper-slide
//        .swiper-slide
//        .swiper-slide
//        .swiper-slide
//
//    .swiper-button-prev
//    .swiper-button-next
