section.section.section_slider
    .slider__background

    .slide-nums
        .slide-nums__current
            .slide-nums__scrolled
                .slide-nums__number.active 01
                .slide-nums__number 02
                .slide-nums__number 03
                .slide-nums__number 04
        .slide-nums__all
            .number 04

    .slider#indexsSlider
        // Если слайд один, менять инлайновый padding на padding: 79px 0 0; 97px
        .slider__item
            .container
                .row
                    .col-sm-4.col-md-2.col-lg-3.img
                        .slider__picture
                            canvas#cMob.slider__animation
                            canvas#cTab.slider__animation
                            canvas#cDesk.slider__animation
                    .col-sm-4.col-md-4.col-lg-3.desc
                        h2.slider__title.section__title Погрузись в мир LED экранов
                        .slider__subtitle Аренда под ключ 5000 р/м2
                        .slider__actions
                            a.btn.btn_primary Узнать стоимость
                            a.link.revers(href="") Как выбрать экран?


        .swiper-container

            .swiper-wrapper
                .swiper-slide
                .swiper-slide
                .swiper-slide
                .swiper-slide

            .swiper-button-prev
            .swiper-button-next








        //.slider__item
        //    .container
        //        .row
        //            .col-sm-4.col-md-2.col-lg-3.img
        //                .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+2')")
        //            .col-sm-4.col-md-4.col-lg-3.desc
        //                h2.slider__title.section__title Светодиодные экраны в рассрочку
        //                .slider__actions
        //                    a.btn.btn_primary Рассчитать стоимость
        //                    a.link.revers(href="") Как выбрать экран?
        //
        //.slider__item
        //    .container
        //        .row
        //            .col-sm-4.col-md-2.col-lg-3.img
        //                .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+3')")
        //            .col-sm-4.col-md-4.col-lg-3.desc
        //                h2.slider__title.section__title Погрузись в мир LED экранов
        //                .slider__subtitle Аренда под ключ 5000 р/м2
        //                .slider__actions
        //                    a.btn.btn_primary Узнать стоимость
        //                    a.link.revers(href="") Как выбрать экран?
        //
        //.slider__item
        //    .container
        //        .row
        //            .col-sm-4.col-md-2.col-lg-3.img
        //                .slider__picture(style="background-image: url('https://via.placeholder.com/700/0D101F/80758F?text=imagae+4')")
        //            .col-sm-4.col-md-4.col-lg-3.desc
        //                h2.slider__title.section__title Погрузись в мир LED экранов
        //                .slider__subtitle Аренда под ключ 5000 р/м2
        //                .slider__actions
        //                    a.btn.btn_primary Узнать стоимость
        //                    a.link.revers(href="") Как выбрать экран?