section.section.section_types
    .types

        .container
            h2.section__title.animation-element
                span.title Типы оборудования
                span.section__link.animation-element
                    a.revers(href="") Нужна помощь в подборе оборудования?

        .container-endless
            .endless.types__list.swiper-container#typesSlider
                .types__list__wrap.swiper-wrapper

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/temp/shutterstock_13202084091.jpg')")
                            .types__content
                                span.types__caption Экран Absen p 3.9 для
                                    br
                                    | помещений 0.3s

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__content
                                span.types__caption Экран QiangLi p 4.8 для уличных мероприятий

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__content
                                span.types__caption Управление Novastar

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__content
                                span.types__caption Экран Absen p 3.9 для помещений

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__content
                                span.types__caption Экран QiangLi p 4.8 для уличных мероприятий

                    .types__slide.swiper-slide
                        a.types__card.animation-element(href="")
                            .types__pic-wrap
                                .types__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__content
                                span.types__caption Управление Novastar

            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_prev#btnTypesSliderPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_next#btnTypesSliderNext
                include ../../../img/icon-slider-btn-arr.svg
