section.section.section_types
    .types
        .container
            h2.section__title
                | Типы оборудования
                span.section__link
                    a.revers(href="") Нужна помощь в подборе оборудования?

        .container-endless
            .endless.types__list.swiper-container#typesSlider
                .types__list__wrap.swiper-wrapper

                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span

                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span

                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span
                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span

                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span

                    .types__item.swiper-slide
                        a.types__card(href="")
                            .types__pic(style="background-image: url('/img/temp/temp-img.png')")
                            .types__caption Экран Absen p 3.9 для помещений
                            .types__link
                                span

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btntypesSliderPrev
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btntypesSliderNext
