section.section.section_types
    .types
        .container
            .row
                .col-sm-4.col-md-6.col-lg-6
                    h2.section__title
                        | Типы оборудования
                        span.section__link
                            a.revers(href="") Нужна помощь в подборе оборудования?

                .col-sm-4.col-md-6.col-lg-6
                    .types__list#types
                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span

                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span

                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span
                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-59.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span

                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-60.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span

                        .types__item
                            a.types__card(href="")
                                .types__pic(style="background-image: url('/img/temp/rectangle-61.jpg')")
                                .types__caption Экран Absen p 3.9 для помещений
                                .types__link
                                    span

                        // Для корректного отображения слайдера, добавить в конце пустой элемнт
                        .types__item
                        .types__item