.label-controll
    .label-controll__caption Первоначальный взнос
    .label-controll__body
        .label-controll__content

            .custom-range#firstPayment
                label.custom-range__value
                    span.value.value_small 30
                    span.delimiter
                    span.units %
                .custom-range__controller
                    span.status-bar
                    spna.slider
                    input.custom-range__slide(type="range" step="1" min="30" max="95" value="30" data-calc-property="firstPayment")
