.radio-group
    .marker
    input#typeVertical(type='radio' name='type' value='' checked='')
    label(for='typeVertical') Вертикальный
    input#typeHorizontal(type='radio' name='type' value='')
    label(for='typeHorizontal') Горизонтальный