@import "../../../scss/variables";

.faq {
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        margin-bottom: 8px;

        @media (min-width: $md) {
            margin-bottom: 26px;
        }

        @media (min-width: $lg) {
            margin-top: 134px;
            margin-bottom: 0;
        }
    }

    &__item {
        display: none;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-align: left;
        border-radius: 12px;
        color: $color-text-secondary;
        margin-bottom: 24px;
        transform: translateY(25px);
        opacity: 0;
        transition: all .5s ease-in-out;

        @media (min-width: $md) {
            padding: 16px 24px;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            background: $color-back-secondary;
            box-shadow:
                    -14px -14px 30px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @media (min-width: $lg) {
            padding: 48px;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            margin-bottom: 34px;
            background: $color-back-primary;
            box-shadow:
                    -10px -10px 30px rgba(35, 33, 58, 0.35),
                    10px 10px 30px rgba(4, 5, 14, 0.4);
        }

        &.visible {
            .faq__description{
                opacity: 1;

                //@media (min-width: $lg) {
                //    padding-top: 48px;
                //}
            }

            .faq__toggler {
                &::before {
                    transform: translateX(2px) rotate(45deg);

                    @media (min-width: $lg) {
                        transform: translateX(6px) rotate(45deg);
                    }
                }

                &::after {
                    transform: translateX(-2px) rotate(-45deg);

                    @media (min-width: $lg) {
                        transform: translateX(-6px) rotate(-45deg);
                    }
                }
            }
        }
        
        &.display {
            display: block;
        }

        &.show {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__toggler {
        width: 24px;
        height: 24px;
        background: $color-back-primary;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 12px);
        right: 0;
        box-shadow:
                -10px -10px 30px rgba(35, 33, 58, 0.16),
                10px 10px 30px rgba(4, 5, 14, 0.8),
                inset 5px 6px 20px rgba(35, 33, 58, 0.5),
                inset -5px -6px 20px rgba(0, 2, 12, 0.2);

        @media (min-width: $md) {
            background: transparent;
            box-shadow: none;
        }

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            width: 7px;
            height: 1px;
            background-color: $color-text-secondary;
            transition: $transition;
            top: 50%;
            border-radius: 999px;
            left: calc(50% - 3px);

            @media (min-width: $lg) {
                width: 20px;
                height: 3px;
                box-shadow: -4px -5px 20px #674A7D,
                    4px 5px 10px #00020C;
            }
        }

        &::before {
            transform: translateX(-2px) rotate(45deg);

            @media (min-width: $lg) {
                transform: translateX(-6px) rotate(45deg);
            }
        }

        &::after {
            transform: translateX(2px) rotate(-45deg);

            @media (min-width: $lg) {
                transform: translateX(6px) rotate(-45deg);
            }
        }
    }

    &__caption {
        cursor: pointer;
        position: relative;
        padding-right: 40px;

        @media (min-width: $md) {

        }

        @media (min-width: $lg) {
            padding-right: 48px;
        }
    }

    &__description {
        overflow-y: hidden;
        max-height: 0;
        height: auto;
        opacity: 0;
        padding-left: 10px;
        margin-left: -10px;


        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $color-text-inactive;
            margin: 24px 0;

            @media (min-width: $lg) {
                &:first-child {
                    padding-top: 24px;
                }
            }
        }

        ul {
            margin: 24px 0;

            li {
                padding-left: 24px;
                margin: 24px 0;

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: $color-text-secondary;
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: -24px;
                        width: 8px;
                        height: 8px;
                        background: linear-gradient(296.57deg, #0B0C12 12.5%, #1C1D30 75%);
                        box-shadow: -2px -1px 4px #362642, 2px 1px 4px #04050E;
                    }
                }

                p {
                    margin: 12px 0;
                }
            }
        }

        &-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @media (min-width: $md) {

            }

            @media (min-width: $lg) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 48px;
            }

            p {
                color: $color-text-secondary;
                margin-top: 0;
            }

            .btn {
                margin-bottom: 48px;

                @media (min-width: $lg) {
                    flex: 1 0 auto;
                    margin-left: 68px;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        position: relative;

        .btn {
            padding-left: 60px;
            position: relative;
        }

        img {
            width: 98px;
            height: 130px;
            position: absolute;
            top: -40px;
            left: -6px;
        }

        &.roll-up {
            img {
                transform: scale(1, -1);
            }
        }

        @media (min-width: $md) {
            margin-top: 26px;
        }

        @media (min-width:  $lg) {
            margin-top: 0;

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 100%;
                height: 138px;
                background: $color-back-primary;
                box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35), 10px 10px 30px rgba(4, 5, 14, 0.4);
                border-radius: 12px;
                border: none;
                font-weight: 700;
                font-size: 30px;
                line-height: 140%;
                letter-spacing: 0.02em;
                position: relative;
                color: $color-text-secondary;

                &::before, &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 60px;
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url("/img/i-more-points.svg") no-repeat center;
                }

                &::before {
                    left: 48px;
                }

                &::after {
                    right: 48px;
                }
            }

            .arrow {
                display: none;
            }
        }
    }
}