.label-controll
    .custom-checkbox
        label.custom-checkbox__container
            | Нужна доставка за пределы Москвы
            input.visuallyhidden(type="checkbox" data-calc-property="rentDelivery" data-calc-value="")
            span.custom-checkbox__checkmark