.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalInsideScreenSwitchboard")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-inside-screen-switchboard

    .custom-checkbox
        label.custom-checkbox__container
            | Электрощитовая
            input.visuallyhidden(type="checkbox" data-calc-property="outsideScreenSwitchboard" data-calc-value="")
            span.custom-checkbox__checkmark