.label-controll.label-controll_checkbox
    .custom-checkbox
        label.custom-checkbox__container
            | Дополнительный комплект запасных частей
            input.visuallyhidden(type="checkbox" data-calc-property="outsideScreenAdditionalSpareParts" data-calc-value="")
            span.custom-checkbox__checkmark