.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalInsideScreenElectricalProject")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-inside-screen-electrical-project

    .custom-checkbox
        label.custom-checkbox__container
            | Электротехнический проект
            input.visuallyhidden(type="checkbox" data-calc-property="outsideScreenElectricalProject" data-calc-value="")
            span.custom-checkbox__checkmark