.label-controll
    .custom-checkbox
        label.custom-checkbox__container
            | Управлять контентом во время мероприятия
            input.visuallyhidden(type="checkbox" data-calc-property="rentController" data-calc-value="")
            span.custom-checkbox__checkmark