.label-controll.label-controll_checkbox
    .custom-checkbox
        label.custom-checkbox__container
            | Электротехнический проект
            input.visuallyhidden(type="checkbox" data-calc-property="outsideScreenElectricalProject" data-calc-value="")
            span.custom-checkbox__checkmark