.label-controll.label-controll_checkbox
    .custom-checkbox
        label.custom-checkbox__container
            | Электрощитовая
            input.visuallyhidden(type="checkbox" data-calc-property="outsideScreenSwitchboard" data-calc-value="")
            span.custom-checkbox__checkmark