.quiz#quiz
    .quiz__dialog
        .quiz__content
            button.quiz__button-close.btn-quiz-toggle
                include ../../../img/icon-cross.svg

            .quiz__prolog
                .pic
                    include ../../../img/questionmark.svg
                .title Как определить какой именно экран, подойдет лучше всего?
                .content
                    .subtitle Предлагаем пройти тест из 5 вопросов, на основании ответов на которые, мы бесплатно подберем нужную вам конфигурацию
                    .btn.btn_primary#buttonQuizAciton Пройти тест

