.quiz#quiz
    .quiz__dialog
        .quiz__content
            button.quiz__button-close.btn-quiz-toggle
                include ../../../img/icon-cross.svg

            .quiz__prolog
                .pic
                    include ../../../img/questionmark.svg
                .title Как определить какой именно экран, подойдет лучше всего?
                .content
                    .subtitle Предлагаем пройти тест из 5 вопросов, на основании ответов на которые, мы бесплатно подберем нужную вам конфигурацию
                    .btn.btn_primary#buttonQuizAciton Пройти тест

            .quiz__questions
                .quiz__body
                    .quiz__slide.active#quizSlide_1
                    .quiz__slide#quizSlide_2
                    .quiz__slide#quizSlide_3
                    .quiz__slide#quizSlide_4
                    .quiz__slide#quizSlide_5

                .quiz__footer
                    .quiz__btn-next
                        .btn.btn_primary Следующий вопрос

                    .quiz__btn-prev
                        .btn.btn_icon-outlined.not-focused.quiz-controller
                            include ../../../img/icon-slider-btn-arr.svg

                    .quiz__state
                        .quiz__state-caption
                            span#numStep 1
                            | из 5 вопросов
                        .quiz__progress
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot

            .quiz__messege