section.section.section_work

    .work__background
        .work__background-wrap
            img(src="/img/body-curved-line.svg" alt="")

    .work
        .container
            // Классы .default-animation.animation-element добавить только на главной странице
            h2.section__title.default-animation.animation-element Как мы работаем над заказом
            .work__steps.default-animation.animation-element 6 шагов до наслаждения яркостью

        .container-endless
            .endless.work__list.swiper-container#workOrder
                .work__list__wrap.swiper-wrapper

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-1.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 1 день
                        .work__title.default-animation.animation-element Подбор экрана и комплектующих
                        .work__content.default-animation.animation-element Обсуждаем с клиентом задачу, подбираем готовое решение, определяем LED модули и систему управления. Формируем заказ

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-2.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 3 дня
                        .work__title.default-animation.animation-element Согласование проекта
                        .work__content.default-animation.animation-element Встречаемся с клиентом, чтобы подтвердить расчёты и сметы, согласовать электропроект. При необходимости помогаем подготовить помещение под установку экрана

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-3.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 7 - 10 дней
                        .work__title.default-animation.animation-element Изготовление и прошивка
                        .work__content.default-animation.animation-element Собираем светодиодные модули и каркас в прочную упаковку, готовим к транспортировке. Выбираем программное обеспечение, выполняем подготовку и настройки

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-4.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 3 дня
                        .work__title.default-animation.animation-element Доставка на объект клиента
                        .work__content.default-animation.animation-element Перевозим комплектующие для сборки LED экрана на площадку

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-5.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 2 дня
                        .work__title.default-animation.animation-element Сборка и монтаж оборудования
                        .work__content.default-animation.animation-element Собираем LED экран из подготовленных и доставленных на площадку комплектующих, устанавливаем его в соответствии с проектом. Вносим завершающие настройки перед запуском

                    .work__item.swiper-slide
                        .work__num
                            img.default-animation.animation-element(src="/img/i-rownd-num-6.png" alt="")
                        .work__period Срок выполнения
                        .work__day.default-animation.animation-element
                            img(src="/img/i-clock.svg" alt="")
                            span 1 день
                        .work__title.default-animation.animation-element Запуск LED экрана
                        .work__content.default-animation.animation-element Рассказываем, как загружать контент и пользоваться управлением. Ваш LED экран работает, посетители наслаждаются ярким и чётким изображением
