@import "../../../scss/variables";

.work {
    overflow: hidden;

    .section__title {
        @extend .title-animation;
    }

    .work__steps {
        @extend .title-link-animation;
    }

    &__background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        transform: translateY(-50%) scale(-1, 1);
        display: none;
        z-index: -1;

        @media (min-width: $md) {
            top: 780px;
            display: block;
        }

        @media (min-width: 1440px) {
            top: 810px;
        }

        @media (min-width: $xl) {
            top: 1503px;
            transform: translateY(-50%) scale(1, 1);
        }
    }

    &__list__wrap {
        @media (min-width: $xl) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__list {
        padding-top: 48px;

        @media (min-width: $md) {
            padding-top: 68px;
            margin-top: 0;
        }

        @media (min-width: $xl) {
            padding-top: 68px;
            overflow: initial;
        }
    }

    &__slide {
        width: 224px; // 200px + 24px
        position: relative;
        display: flex;
        flex-direction: column;

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) .work__title,
            &:nth-child(#{$i}) .work__content {
                transition-delay: 0.1s * $i;
            }
        }

        @media (min-width: $md) {
            width: 348px; // 324px + 24px
        }

        @media (min-width: 1024px) {
            width: 372px; // 324px + 48px
        }

        @media (min-width: 1440px) {
            width: 392px; // 324px + 68px
        }

        @media (min-width: $xl) {
            width: 23.28125vw;
            margin-right: 96px;
            margin-bottom: 30px;

            &:nth-child(3n+3) {
                margin-right: 0;
            }

            &:nth-child(3),
            &:nth-child(6) {
                .work__day::after,
                .work__day::after {
                    width: 100vw;
                    flex: none;
                }

                span {
                    flex: 1 0 auto;
                }
            }

            &:nth-child(1),
            &:nth-child(4) {
                .work__day::before,
                .work__day::before {
                    content: "";
                    display: block;
                    width: 100vw;
                    height: 12px;
                    position: absolute;
                    top: calc(50% - 6px);
                    border-radius: 12px;
                    background: $color-back-primary;
                    transform: translateX(-100%);
                    margin-left: -24px;
                    box-shadow:
                            -20px -27px 40px rgba(35, 33, 58, 0.35),
                            20px 27px 40px rgba(4, 5, 14, 0.17),
                            inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                            inset 2px 2px 5px rgba(0, 2, 12, 0.8);
                }
            }
        }


        .number, .lines {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .number {
            filter: grayscale(100%);
            opacity: 0;
            transform: scale(0.3);
            transition: $anim-title;
            svg {
                width: 158px;
                height: 158px;

                @media (min-width: $xl) {
                    width: 240px;
                    height: 254px;
                }
            }
        }

        .lines {
            transform: rotate(45deg);
            transition: $anim-card;
            svg {
                width: 158px;
                height: 158px;

                @media (min-width: $xl) {
                    width: 240px;
                    height: 254px;
                }
            }
        }

        .animation {
            .number, .lines {
                filter: grayscale(0);
                opacity: 1;
                transform: rotate(0) scale(1);
            }
        }

        @for $i from 1 through 6 {
            // Цвет для цифр по порядку
            &:nth-child(#{$i}) #num#{$i} {
                fill: #AB78FF;
            }

            // Цвет для линий по нарастающей
            &:nth-child(#{$i}) {
                @for $j from 1 through $i {
                    #line#{$j} path {
                        stroke: #AB78FF;
                    }
                }

                // Задержка анимаии для цифр и круговых линий
                &:nth-child(#{$i}).lines,
                &:nth-child(#{$i}) .number {
                    transition-delay: 0.2s * $i;
                }
            }
        }
    }

    &__card {
        width: 200px;

        @media (min-width: $md) {
            width: 324px;
        }

        @media (min-width: $xl) {
            width: 100%;
        }
    }

    &__num {
        width: 158px;
        height: 158px;
        margin-left: -31px;
        margin-bottom: -13px;
        position: relative;
        margin-top: -33px;

        // Линия после цифры
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 80px;
            left: 152px;
            width: 80px;
            height: 10px;
            background: $color-back-primary;
            border-radius: 12px;
            box-shadow:
                    -20px -27px 40px rgba(35, 33, 58, 0.35),
                    20px 27px 40px rgba(4, 5, 14, 0.17),
                    inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                    inset 2px 2px 5px rgba(0, 2, 12, 0.8);

            @media (min-width: $md) {
                display: none;
            }
        }

        @media (min-width: $md) {
            margin-top: -32px;
            margin-bottom: -14px;
            margin-left: -32px;
        }

        @media (min-width: $xl) {
            margin-left: -59px;
            margin-top: 10px;
            margin-bottom: -8px;
            width: 234px;
            height: 234px;
        }
    }

    &__period {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        margin-bottom: 4px;
        color: $color-text-inactive;

        @media (min-width: $xl) {
            display: none;
        }
    }

    &__day {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 16px;
        color: $color-accent;
        position: relative;

        transition: $anim-title;
        opacity: 1;
        transform: translateX(0);

        &.animation-element {
            opacity: 0;
            transform: translateX(50px);
        }

        @media (min-width: $md) {
            font-weight: 400;
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;

            @media (min-width: $xl){
                margin-left: 12px;
            }
        }

        span {
            display: inline-block;
            margin-right: 34px;
        }

        @media (min-width: $xl) {
            margin-top: 10px;
            margin-bottom: 36px;
            width: calc(100% + 76px);

            &::after {
                content: "";
                display: block;
                height: 12px;
                flex: 1 0 auto;
                border-radius: 12px;
                background: $color-back-primary;
                box-shadow:
                        -20px -27px 40px rgba(35, 33, 58, 0.35),
                        20px 27px 40px rgba(4, 5, 14, 0.17),
                        inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                        inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 12px;
        color: $color-text-secondary;

        @extend .title-animation;

        @media (min-width: $md) {
            font-weight: 700;
            font-size: 24px;
        }

        @media (min-width: $xl) {
            position: absolute;
            width: 293px;
            top: 96px;
            left: 153px;
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
        }
    }

    &__content {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;

        @extend .title-link-animation;

        @media (min-width: $xl) {
            font-size: 14px;
        }
    }

    &__steps {
        position: absolute;
        bottom: 14px;
        right: -203px;
        display: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $color-text-primary;
        text-shadow: 0 0 20px $color-accent;

        opacity: 1;
        filter: blur(1);

        &.animation-element {
            opacity: 0;
            filter: blur(2);
        }

        @media (min-width: $xl) {
            display: block;
        }
    }
}