section.section.section_work
    .work
        .container
            .row
                .col-sm-4.col-md-6.col-lg-6
                    h2.section__title Этапы работы

        .container
            .work__list#workRent
                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-1.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span 1 – 2 дня
                        .work__title Подбор оборудования
                        .work__content Выясняем потребности и формируем коммерческое предложение с учетом пожеланий

                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-2.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span 1 – 2 дня
                        .work__title Согласование сроков
                        .work__content Согласовываем проект, заключаем договор, где прописаны условия аренды

                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-3.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span 1 – 2 дня
                        .work__title Подготовка площадки
                        .work__content Инженер приезжает на площадку и оценивает: где и как установить экран, что учесть при монтаже

                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-4.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span 1 день
                        .work__title Доставка и монтаж
                        .work__content Привозим экран и комплектующие, собираем и настраиваем оборудование на площадке

                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-5.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span от одного дня до нескольких месяцев
                        .work__title Проведение мероприятия
                        .work__content Вносим завершающие настройки перед запуском и проверяем, чтобы всё корректно работало

                .work__item
                    .work__card
                        .work__num
                            img(src="/img/i-rownd-num-6.png" alt="")
                        .work__period Срок выполнения
                        .work__day
                            img(src="/img/i-clock.svg" alt="")
                            span 1 – 2 дня
                        .work__title Демонтаж оборудования
                        .work__content Когда срок аренды заканчиваются, демонтируем оборудование и отвозим на склад

                .work__item