section.section.section_list
    .list__background
        .list__background-wrap
            img(src="/img/body-curved-line.svg" alt="")

    .list
        .container
            h2.section__title Почему аренда выгоднее

        .container-endless-fix
            .endless.list__list.swiper-container#rentList
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/1.svg" alt="" style="margin-top: -9px;")
                            .list__title Привозим готовое к работе оборудование
                            .list__content Изготовление, монтаж и настройку производят инженеры: всё, что нужно сделать — подробно описать задачу и обозначить ограничения по проекту

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/2.svg" alt="")
                            .list__title Подстраиваемся под пожелания
                            .list__content С каждым заказом вы выбираете экран с понравившимся дизайном и набором функций из постоянно пополняющегося асcортимента

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/3.svg" alt="")
                            .list__title Отвечаем за качество картинки на экране
                            .list__content Собираем экраны из одной партии модулей, поэтому они светят одинаково ярко. Изображение получается однородным, насыщенным и чётким. На экране нет прыгающих белых полос: такой эффект достигается благодаря высокой частоте обновления модулей (3 840 Гц)

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/4.svg" alt="")
                            .list__title Быстрый монтаж и демонтаж оборудования
                            .list__content Тыльное и фронтальное обслуживание обеспечивает высокую скорость установки экрана, даже если нужно поставить его вплотную к стене или подвесить в воздухе. Это ускоряет процесс сборки и демонтажа экранов на площадке

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/5.svg" alt="")
                            .list__title Предоставим всё, чего не хватает к мероприятию
                            .list__content Вам не придётся искать сцену, фермы, лебёдки, силовые дистрибьюторы: всё это мы привезём с собой при необходимости. LED экран снимут, разберут и увезут обратно, если у вас нет место для его хранения

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    img(src="/img/6.svg" alt="")
                            .list__title Вы не платите за техобслуживание
                            .list__content
                                | Экономия на техобслуживании: при аренде оно не потребуется.  Аренда LED экрана обходится выгоднее, чем покупка, вне зависимости от вашего региона. Вы можете проверить это
                                br
                                a.revers(href="/") в калькуляторе