@import "variables";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    outline: none !important
}

//- Make sticky footer
html, body {
    min-height: 100vh;
    font-size: 16px;
}

//- Root styles
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    color: $color-text-primary;
    overflow-x: hidden;
    background-color: $color-back-primary;
}

.header,
.footer {
    flex: none;
}

.main {
    flex: 1 0 auto;
    padding: 95px 0;
    margin-top: 76px;

    @media (min-width: $md) {
        margin-top: 114px;
    }

    @media (min-width: $lg) {
        margin-top: 124px;
    }

}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 288px; //- by 320px:  272px = (56px * 4) + (16px * 4) = (56px + 16px) * 4
    padding: 0 8px;
    // padding: 0 24px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

@for $i from 1 through 4 {
    .col-sm-#{$i} {
        position: relative;
        width: 100%;
        max-width: calc(100% / 4 * #{$i} - 16px);
        margin: 0 8px;
    }
}

@media (min-width: $md) {
    .container {
        max-width: 696px; //- by 768px: 672px = (92px * 6) + (24px * 6) = (92px + 24px) * 6
        padding: 0 12px;
        // padding: 0 48px;
    }

    .row {
        margin: 0 -12px;
    }

    @for $i from 1 through 6 {
        .col-md-#{$i} {
            width: 100%;
            max-width: calc(100% / 6 * #{$i} - 24px) !important;
            margin: 0 12px;
        }
    }
}

@media (min-width: $lg) {
    .container {
        max-width: 1440px; //- by 1920px: 1344px = (144px * 6) + (96px * 6) = (144px + 96px) * 4
        padding: 0 48px;
        // padding: 0 288px;
    }

    .row {
        margin: 0 -48px;
    }

    @for $i from 1 through 6 {
        .col-lg-#{$i} {
            width: 100%;
            max-width: calc(100% / 6 * #{$i} - 96px) !important;
            margin: 0 48px;
        }
    }
}

//- Typography
.h1, h1,
.h2, h2,
.h3, h3 {
    margin: 0;
    padding: 0;
}

.h1, h1 {                       //- Heading/24
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

@media (min-width: $md) {
    .h1, h1 {                   //- Heading/60
        font-size: 60px;
        line-height: 1.4;
    }
}

.h2, h2 {                       //- Heading/20
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

@media (min-width: $md) {
    .h2, h2 {                   //- Heading/40
        font-weight: 700;
        font-size: 40px;
        line-height: 1.4;
    }
}

@media (min-width: $lg) {
    .h2, h2 {                   //- Heading/30
        font-size: 30px;
    }
}

.h3, h3 {                       //- Heading/14
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
}

@media (min-width: $md) {
    .h3, h3 {                    //- Heading/24
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (min-width: $md) {
    p {
        font-size: 18px;
    }
}

//- Lists
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

//- Images
img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

//- Links
a,
a.link {
    text-decoration: none;
    color: $color-text-primary;
    transition: $transition;

    &:hover {
        color: $color-accent
    }

    &.active {
        color: $color-accent !important;
    }

    &.revers {
        color: $color-accent;

        &:hover {
            color: $color-text-primary;
        }
    }

}

//- Buttons
.btn,
a.btn,
button.btn,
input.btn {
    display: inline-block;
    align-items: center;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;
    transition: $transition;

    &_primary {
        padding: 14px 34px;
        height: 50px;
        font-weight: 500;
        background: linear-gradient(343.22deg, #181932 -36.39%, #0F111E 72.73%);
        color: $color-text-primary;
        background: $color-accent;
        box-shadow:
                -14px -28px 40px rgba(35, 33, 58, 0.64),
                14px 28px 30px rgba(4, 5, 14, 0.64),
                inset 5px 4px 10px rgba(49, 4, 38, 0.5),
                inset -2px -2px 30px rgba(255, 255, 255, 0.2);
        border: 2px solid $color-accent;

        &:hover {
            background: #8356CC;
            border: 2px solid #8356CC;
            box-shadow:
                    -8px -16px 30px rgba(35, 33, 58, 0.35),
                    8px 16px 30px rgba(4, 5, 14, 0.3),
                    inset 5px 4px 10px rgba(49, 4, 38, 0.5),
                    inset -2px -2px 30px rgba(255, 255, 255, 0.2);
        }

        &:active {
            color: $color-text-inactive;
            background: #5B4589;
            border: 2px solid #5B4589;
            box-shadow:
                    -14px -28px 40px rgba(35, 33, 58, 0.64),
                    14px 28px 30px rgba(4, 5, 14, 0.64),
                    inset 5px 4px 10px rgba(49, 4, 38, 0.5),
                    inset -2px -2px 30px rgba(255, 255, 255, 0.2);
        }

        &:focus {
            background: $color-accent;
            border: 2px solid $color-accent;
            box-shadow:
                    -14px -28px 40px rgba(35, 33, 58, 0.64),
                    14px 28px 30px rgba(4, 5, 14, 0.64),
                    inset 5px 4px 10px rgba(49, 4, 38, 0.5),
                    inset -2px -2px 30px rgba(255, 255, 255, 0.2),
                    0 0 0 2px rgba(131,86,204,1);
        }

        &.inactive {
            cursor: default;
            color: $color-text-inactive;
            background: #5B4589;
            border: 2px solid #5B4589;
            box-shadow:
                    inset 5px 4px 10px rgba(49, 4, 38, 0.5),
                    inset -2px -2px 30px rgba(255, 255, 255, 0.2);
        }
    }

    &_secondary {
        padding: 14px 34px;
        height: 50px;
        font-weight: 500;
        background: $color-back-secondary;
        color: $color-text-primary;
        box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        border: 2px solid #141727;

        &:hover {
            color: $color-text-secondary;
            box-shadow:
                    -8px -16px 30px rgba(35, 33, 58, 0.35),
                    8px 16px 30px rgba(4, 5, 14, 0.3);
        }

        &:active {
            color: $color-text-inactive;
            background: $color-back-primary;
            box-shadow:
                    -8px -16px 30px rgba(35, 33, 58, 0.35),
                    8px 16px 30px rgba(4, 5, 14, 0.3);
        }

        &:focus {
            color: $color-text-primary;
            background: $color-back-secondary;
            box-shadow:
                    -14px -28px 30px rgba(35, 33, 58, 0.35),
                    14px 28px 30px rgba(4, 5, 14, 0.3),
                    inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                    inset -4px -4px 24px rgba(255, 255, 255, 0.06),
                    0 0 0 2px #141727;
        }

        &.inactive {
            cursor: default;
            color: #3A374B;
            background: $color-back-secondary;
            box-shadow:
                    -14px -28px 30px rgba(35, 33, 58, 0.35),
                    14px 28px 30px rgba(4, 5, 14, 0.3),
                    inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                    inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        }
    }

    &_calltoaction {
        padding: 16px 34px;
        height: 54px;
        font-weight: 500;
        color: $color-accent;
        background: $color-back-secondary;
        box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);

        &:hover {
            color: #8356CC;
            box-shadow:
                    -8px -16px 30px rgba(35, 33, 58, 0.35),
                    8px 16px 30px rgba(4, 5, 14, 0.3),
                    inset 4px 4px 24px rgba(4, 2, 19, 0),
                    inset -4px -4px 24px rgba(255, 255, 255, 0);
        }

        &:active {
            color: #5B4589;
            background: $color-back-primary;
            box-shadow:
                    -8px -16px 30px rgba(35, 33, 58, 0.35),
                    8px 16px 30px rgba(4, 5, 14, 0.3);
        }

        &:focus {
            color: #8356CC;
            background: $color-back-secondary;
            box-shadow:
                    -14px -28px 30px rgba(35, 33, 58, 0.35),
                    14px 28px 30px rgba(4, 5, 14, 0.3),
                    inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                    inset -4px -4px 24px rgba(255, 255, 255, 0.06),
                    0 0 0 2px rgba(56, 35, 89, 1);
        }

        &.inactive {
            cursor: default;
            color: #3A374B;
            background: $color-back-secondary;
            box-shadow:
                    -14px -28px 30px rgba(35, 33, 58, 0.35),
                    14px 28px 30px rgba(4, 5, 14, 0.3),
                    inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                    inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        }
    }

    &_ghost {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 41px;
        padding: 8px 12px;
        height: 38px;
        font-weight: 400;
        border-radius: 10px;
        box-shadow: 0 0 0 2px rgba(56,35,89,0);
        transition: $transition;

        &:hover {
            svg path {
                stroke:  $color-text-primary;
            }
            span {
                color: $color-text-primary;

                &::after {
                    border-right-color: $color-text-primary;
                    border-bottom-color: $color-text-primary;
                }
            }
        }

        &:active {
            svg path {
                stroke:  $color-text-secondary;
            }
            span {
                color: $color-text-secondary;

                &::after {
                    border-right-color: $color-text-secondary;
                    border-bottom-color: $color-text-secondary;
                }
            }
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba(56,35,89,1);

            svg path {
                stroke: $color-accent;
            }
            span {
                color: $color-accent;

                &::after {
                    border-right-color: $color-accent;
                    border-bottom-color: $color-accent;
                }
            }
        }

        &.inactive {
            cursor: default;

            svg path {
                stroke: #3A374B;
            }
            span {
                color: #3A374B;

                &::after {
                    border-right-color: #3A374B;
                    border-bottom-color: #3A374B;
                }
            }
        }

        .icon-pic {
            height: 16px;
            width: 16px;
            margin-right: 11px;
            margin-top: -2px;

            svg path {
                transition: $transition;
            }
        }

        span {
            color: $color-accent;
            transition: $transition;

            &::after {
                content: '';
                display: inline-block;
                position: relative;
                margin-left: 8px;
                width: 7px;
                height: 7px;
                border-right: 1px solid $color-accent;
                border-bottom: 1px solid $color-accent;
                transform: rotate(-45deg);
                transition: $transition;
            }
        }
    }

    &_icon-outlined {
        // icon color is #80758F

        padding: 12px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $color-back-secondary;
        box-shadow:
            -14px -28px 30px rgba(35, 33, 58, 0.35),
            14px 28px 30px rgba(4, 5, 14, 0.3),
            inset 4px 4px 24px rgba(4, 2, 19, 0.5),
            inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            // icon color is #F6F0FF $color-icons

            box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0),
                inset -4px -4px 24px rgba(255, 255, 255, 0);
        }

        &:active {
            // icon color is #80758F $color-text-inactive

            background: $color-back-primary;

            box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0),
                inset -4px -4px 24px rgba(255, 255, 255, 0);
        }

        &:focus {
            // icon color is #F6F0FF $color-icons

            box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                0 0 0 2px rgba(56, 35, 89, 1),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        }

        &.inactive {
            // icon color is #3A374B

            cursor: default;
            box-shadow:
                -14px -28px 30px rgba(35, 33, 58, 0.35),
                14px 28px 30px rgba(4, 5, 14, 0.3),
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);
        }
    }
}

//- Social icons
.social-icon {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(321.49deg, rgba(11,13,25,.7), rgba(37,38,58,.5));

    &__pic {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 42px;
        width: 42px;
        top: 4px;
        left: 4px;
        border-radius: 50%;
        background: linear-gradient( 321.49deg, #1c1d30 -6.41%, #0b0c12 90.97%);
        box-shadow:
                -10px -10px 30px rgba(54, 38, 66, 0.35),
                10px 10px 30px rgba(4, 5, 14, 0.4);

        svg {
            width: 18px;
            height: 18px;

            path {
                transition: $transition;
            }
        }
    }

    &:hover {
        svg path {
            stroke: #636363;
        }

        svg #vk {
            fill: #636363;
        }
    }
}

//- Section
.section {
    position: relative;
    margin-top: 96px;

    &__title {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        font-weight: 700;
        color: $color-text-primary;

        @media (min-width: $md) {
            font-size: 40px;
            line-height: 1.4;
        }

        @media (min-width: $lg) {
            font-size: 60px;
        }
    }

    &_banner {
        margin-top: 0;
    }

    &_offer {
        z-index: 3;

        @media (min-width: $md) {
            margin-top: 126px;
        }

        @media (min-width: $lg) {
            margin-top: 348px;
        }
    }

    &_partners-choose {

        @media (min-width: $lg) {
            padding-top: 132px;
        }

        h2 {
            @media (min-width: $md) {
                width: 450px;
            }

            @media (min-width: $lg) {
                width: 700px;
            }
        }
    }

    &__link {
        display: block;
        margin-top: 12px;
        line-height: 1.15;
        font-size: 16px;

        @media (min-width: $md) {
            line-height: 1.6;
            margin-top: 8px;
        }

        @media (min-width: $lg){
            display: inline-block;
            margin-left: 23px;
        }

        a {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.15;

            @media (min-width: $md) {
                line-height: 1.6;
            }

            &::after {
                content: '';
                display: inline-block;
                position: relative;
                margin-left: 12px;
                width: 7px;
                height: 7px;
                border-right: 1px solid $color-accent;
                border-bottom: 1px solid $color-accent;
                transform: rotate(-45deg);
                transition: $transition;
            }
        }
    }
}