@import "../../../scss/variables";

.callback {

    .section__title {
        opacity: 1;
        transform: translateY(0);

        &.animation-element {
            opacity: 0;
            transform: translateY(25px);
        }
    }

    .section__link {
        opacity: 1;
        transform: translateX(0);

        &.animation-element {
            opacity: 0;
            transform: translateX(25px);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-top: 34px;
        opacity: 1;
        transform: translateY(0);
        transition-delay: .1s;

        &.animation-element {
            opacity: 0;
            transform: translateY(30px);
        }

        @media (min-width: $md) {
            font-weight: 700;
            font-size: 24px;
            margin-top: 48px;
            max-width: 500px;
        }

        @media (min-width: $lg) {
            font-size: 30px;
            line-height: 140%;
            margin-top: 115px;
            max-width: 570px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        margin-top: 12px;
        width: 200px;

        opacity: 1;
        transform: translateY(0);
        transition-delay: .2s;

        &.animation-element {
            opacity: 0;
            transform: translateY(30px);
        }

        @media (min-width: $md) {
            width: auto;
        }

        @media (min-width: $lg) {
            font-size: 14px;
            margin-top: 37px;
        }
    }

    &__form {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        opacity: 1;
        transform: translateY(0);
        transition-delay: .3s;

        &.animation-element {
            opacity: 0;
            transform: translateY(30px);
        }

        @media (min-width: $md) {

        }

        @media (min-width: $lg) {
            margin-top: 115px;
            flex-direction: row;
        }
    }

    .controller {
        input {
            width: 224px;
        }

        .validator__cross {
            display: none;

            @media (min-width: $lg) {
                display: block;
            }
        }
    }

    .controller__input {
        @media (min-width: $lg) {
            height: 90px;
            margin-bottom: 36px;

            input {
                width: 370px;
                height: 90px;
                font-size: 30px;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: 0.02em;
                color: $color-text-secondary;
                padding: 24px 24px 24px 48px;
            }

            .icon {
                display: none;
            }
        }
    }

    &__data {
        @media (min-width: $lg) {
            width: 558px;
        }

        .send-mail {
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: $color-text-inactive;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: $color-text-inactive;

        @media (min-width: $md) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        @media (min-width: $lg) {
            flex-direction: column;
            align-items: flex-start;
        }

        .btn {

            margin-top: 24px;

            @media (min-width: $lg) {
                margin-top: 20px;
            }
        }

        .privacy {
            margin-top: 24px;

            @media (min-width: $md) {
                margin-left: 16px;
                max-width: 450px;
            }


            @media (min-width: $lg) {
                margin-left: 0;
                margin-top: 34px;
            }
        }
    }

    &__background-pic {
        position: absolute;
        display: none;

        opacity: 1;
        transform: translateX(0);
        transition-delay: .4s;

        &.animation-element {
            opacity: 0;
            transform: translateX(30px);
        }

        @media (min-width: 1440px) {
            display: block;
            top: 85px;
            left: calc(50% + 50px);
        }

        @media (min-width: $lg) {
            top: 86px;
            left: calc(50% + 293px);
        }

        img {
            width: 500px;
            height: auto;
            position: absolute;
            top: -157px;
            left: -7px;
            max-width: none;

            @media (min-width: $lg) {
                width: 640px;
            }
        }
    }

}