.modal#calbackModal(data-source-reset="#callbackForm")
    .modal__dialog
        .modal__content
            .modal__header
                .modal__title Заявка отправлена
                .modal__subtitle Перезвоним вам в ближайшее время
            .modal__body
                img.modal-img(src="/img/modal-phone-icon.svg" alt="")
            .modal__footer
                .btn.btn_primary.modal__close Закрыть окно
