.modal#calbackModal(data-source-reset="#callbackForm")
    .modal__dialog
        .modal__content
            button.modal__close
            .modal__header
                .modal__title Заявка отправлена
                .modal__subtitle Перезвоним вам в ближайшее время
            .modal__body
            .modal__footer
